<% for(var i = 0; i < courses.length; i++) { %>
    <tr>
        <td><%= i + 1 %></td>
        <td><%= courses[i].name %></td>
        <td><%= courses[i].code %></td>
        <td><%= courses[i].career %></td>
        <td><%= courses[i].credits %></td>
        <td>
            <a href="/update-course?id=<%= courses[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a href="/" class="btn border-shadow delete" data-id=<%= courses[i]._id %> >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
<% } %>