<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Courses</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Course</h2>
        </div>

        <!-- add user form -->
         <!-- form handling -->
 <form  method="POST" id="update_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="<%= course._id %>">
            <input type="text" name="name" value="<%= course.name %>" placeholder="Web II">
        </div>
        <div class="form-group">
            <label for="code" class="text-light">Code</label>
            <input type="text" name="code" value="<%= course.code %>" placeholder="ISW-711">
        </div>
        <div class="form-group">
            <label for="career" class="text-light">Career</label>
            <input type="text" name="career" value="<%= course.career %>" placeholder="Software Engineering">
        </div>
        <div class="form-group">
            <label for="credits" class="text-light">Credits</label>
            <input type="text" name="credits" value="<%= course.credits %>" placeholder="3">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Update</button>
        </div>
    </div>
</form>
       
    </div>
</main>

<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->